
.light-mode {
    --clr-bg: #dcdcdc;
    --clr-bg-alt:#f5f5f5;
    --clr-fg: #f8f8f8;
    --clr-fg-alt: none;
      --clr-primary: #ffffff;
      --clr-lg:#000;
      --clr-mode:#ddd;
      --clr-border:none;

   
  }
  
  .dark-mode {

    --clr-bg: #36474f;
    --clr-bg-alt: #18212a;
    --clr-fg: #23283e;
    --clr-fg-alt: #cdcdff;
    --clr-primary: #36474f;
  --clr-lg:#fff;
  --clr-mode:#36474f;
  --clr-border:#fff;
   
  }



.dashboard{
    display: grid;
    grid-template-columns: 20% auto;
    width: 100%;
    height: 91.8vh;

}

.left{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: var(--clr-bg-alt);
    border-right: 1px solid var(--clr-border);
    padding: 1rem;
    overflow-y: scroll;
}

.docfile{
    width: 100%;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-bg);
    color: var(--clr-lg);
    margin: 1rem 0 0 0;
    padding: 1rem .8rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}


.right{
    background-color: black;
   width: 100%;
   height: 100%;
}


.rightcontent{
    margin: 1rem auto;
    width: 97%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    background-color:var(--clr-bg-alt);
    padding: 2rem;
}

.nameInput{
    outline: none;
    width: 70%;
}

.newDoc{
    cursor: pointer;
}




.selected {
    color: white;
    font-weight: 600;
    background-color: #7b7b7b;
  }

  .newDocument{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }

  .newDocument img{
    cursor: pointer;
    width: 200px;
  }

  .textAdd{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-lg);
    gap: 5px;
  }




  
  


  @media (max-width:992px){
    .dashboard{
        grid-template-columns: 20% auto;
    }

    .left{
        padding:0 5px;
    }

    .docfile{
        padding: 12px 10px;
        font-size: smaller;
    }

    .rightcontent{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}

@media (max-width:700px){
    .dashboard{
        grid-template-columns: 30% auto;
    }

    .left{
        padding:0 5px;
    }

    .docfile{
        padding: 10px 10px;
        font-size: smaller;
    }

    .rightcontent{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}




@media (max-width:576px){
    .dashboard{
        grid-template-columns: none;
        grid-row: inherit;
        height: 91.3vh;
    }

    .left{
        padding:0 5px;
    }

    .docfile{
        padding: 10px 10px;
        font-size: smaller;
    }

    .rightcontent{
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0px;
    }

    .newDocument{
        padding: 10px 0;
    }
    .newDocument img{

        width: 100px;
    }
}